<td><button type="button" class="btn btn-primary" routerLink="/">Back to List</button></td>
<form *ngIf="curentBook">
  <div class="container">
    <h1>Detail</h1>

    <label for="email"><b>Name </b></label>
    <input type="text"  name="title" id="title" required [(ngModel)]="curentBook.title">
<hr>
    <label for="psw"><b>Author </b></label>
    <input type="text"  name="author" id="author" required [(ngModel)]="curentBook.author">
<hr>
    <label for="psw-repeat"><b>Description </b></label>
    <input type="text"  name="description" id="description" required [(ngModel)]="curentBook.description">
    <hr>
  </div>
  <button type="button" class="btn btn-primary" (click)="update()" [routerLink]="['/update',curentBook.id]">Edit</button>
</form>
