<td><button type="button" class="btn btn-primary" routerLink="/">Back to List</button></td>
<form *ngIf="curentBook">
  <div class="container">
    <h1>Delete</h1>

    <label for="email"><b>Name </b></label>
    <input type="text"  disabled name="title" id="title" required [(ngModel)]="curentBook.title">
<hr>
    <label for="psw"><b>Password </b></label>
    <input type="text" disabled name="author" id="author" required [(ngModel)]="curentBook.author">
<hr>
    <label for="psw-repeat"><b>Email </b></label>
    <input type="text" disabled name="description" id="description" required [(ngModel)]="curentBook.description">
    <hr>
  </div>
  <td><button type="button" class="btn btn-danger" (click)="delete(curentBook.id)">Delete</button></td>
</form>
